# Copy to .env and edit
RAG_ANON_ANONYMIZER_ENTITIES=PERSON
RAG_ANON_ANONYMIZER_STRATEGY=offline
RAG_ANON_CHUNK_OVERLAP=100
RAG_ANON_CHUNK_SIZE=800
RAG_ANON_CORPUS=https://raw.githubusercontent.com/NorskRegnesentral/text-anonymization-benchmark/refs/heads/master/echr_{dataset}.json
RAG_ANON_CORPUS_DATASET=train
RAG_ANON_EMBEDDING_MODEL=nomic-embed-text
RAG_ANON_EMBEDDING_NUM_CTX=8192
RAG_ANON_ES_URL=http://localhost:9200
RAG_ANON_LLM_MODEL=qwen3:8b
RAG_ANON_LLM_NUM_CTX=24576
RAG_ANON_LLM_REASONING=false
RAG_ANON_LLM_TEMPERATURE=0.0
RAG_ANON_LOG_LEVEL=INFO
RAG_ANON_LOG_LEVEL_HTTP=WARNING
RAG_ANON_LOG_LEVEL_PRESIDIO=ERROR
RAG_ANON_OLLAMA_BASE_URL=http://localhost:11434
RAG_ANON_QUERY_QUESTION="In ECHR case 001-101444 (application no. 1520/06 against Turkey), which ministry did the applicant ask to reimburse him for his unpaid salaries?"
RAG_ANON_RETRIEVAL_K_DOCS=3
